main img{
    width:90%;
}
main img:hover{
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    cursor: pointer;
}
.couverture{
    width:100%;
}
@media (min-width: 800px) {
    .couverture{
        margin-top: -20%;
        width:100%;
        height: 133vh;
        padding: 15% 8%;
    }
    /* .home{
        margin-top: -20%;
    } */
    main{
        margin-top:-17%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:0 3%;
        
    }
    main img{
        width:100%;
    }

}
