main img{
    width:100%;
    padding: 10% 30%;
}
main img:hover{
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
    cursor: pointer;
}

@media (min-width: 1000px) {
   
     .home{
         height: 80vh;
        /* margin-top: -20%; */
    } 
    main{
        /* margin-top:-6.5%; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding:0 5%;
        
    }
    main img{
        width:100%;
        padding: 0;
        padding: 10%;
        background-image: url("http://static.tumblr.com/i21wc39/coTmrkw40/shadow.png");
        background-position: center bottom;
        background-size: 100% 100%;
        bottom: -18%;
        display: block;
        left: -12%;
        right: 0;
        top: 0;
        z-index: 0; 

    }
   
    
}

